.elementor-14 .elementor-element.elementor-element-bb2acf6 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-14 .elementor-element.elementor-element-1c9cf6a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-top: 120px;
    --margin-bottom: 120px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-14 .elementor-element.elementor-element-84b9c0a {
    --display: flex;
    --min-height: 0px;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-14 .elementor-element.elementor-element-f3452a1>.elementor-widget-container {
    padding: 0
}

.elementor-14 .elementor-element.elementor-element-7e36fe4 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-top: 120px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-14 .elementor-element.elementor-element-f984aed {
    --display: flex;
    --background-transition: 0.3s
}

.elementor-14 .elementor-element.elementor-element-f3ad564 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-14 .elementor-element.elementor-element-e96baae {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-14 .elementor-element.elementor-element-b78cf14 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-top: 120px;
    --margin-bottom: 120px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-14 .elementor-element.elementor-element-43e6387 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 120px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-14 .elementor-element.elementor-element-43e6387,
.elementor-14 .elementor-element.elementor-element-43e6387::before {
    --border-transition: 0.3s
}

.elementor-14 .elementor-element.elementor-element-7b99569 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 120px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-14 .elementor-element.elementor-element-397fc0b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 120px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-14 .elementor-element.elementor-element-9457801 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --margin-top: 120px;
    --margin-bottom: 120px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px
}

.elementor-14 .elementor-element.elementor-element-9457801,
.elementor-14 .elementor-element.elementor-element-9457801::before {
    --border-transition: 0.3s
}

.elementor-14 .elementor-element.elementor-element-7bd6ca4 .contact-section .section-title .dash-and-paragraph .social-area ul li a i {
    color: #545454
}

.elementor-14 .elementor-element.elementor-element-7bd6ca4 .contact-section .section-title .dash-and-paragraph .social-area ul li a svg {
    fill: #545454
}

.elementor-14 .elementor-element.elementor-element-7bd6ca4 .contact-section .section-title .dash-and-paragraph .social-area ul li a:hover i {
    color: #fff
}

.elementor-14 .elementor-element.elementor-element-7bd6ca4 .contact-section .section-title .dash-and-paragraph .social-area ul li a:hover svg {
    fill: #fff
}

body.elementor-page-14:not(.elementor-motion-effects-element-type-background),
body.elementor-page-14>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f0f0f0
}

@media(min-width:768px) {
    .elementor-14 .elementor-element.elementor-element-f984aed {
        --content-width: 1320px
    }
    .elementor-14 .elementor-element.elementor-element-7b99569 {
        --width: 1320%
    }
    .elementor-14 .elementor-element.elementor-element-397fc0b {
        --width: 1320%
    }
}

@media(max-width:1024px) {
    .elementor-14 .elementor-element.elementor-element-1c9cf6a {
        --margin-top: 90px;
        --margin-bottom: 90px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }
    .elementor-14 .elementor-element.elementor-element-84b9c0a {
        --margin-top: 0px;
        --margin-bottom: 90px;
        --margin-left: 0px;
        --margin-right: 0px
    }
    .elementor-14 .elementor-element.elementor-element-7e36fe4 {
        --margin-top: 90px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px
    }
    .elementor-14 .elementor-element.elementor-element-b78cf14 {
        --margin-top: 90px;
        --margin-bottom: 90px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }
    .elementor-14 .elementor-element.elementor-element-43e6387 {
        --margin-top: 0px;
        --margin-bottom: 90px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px
    }
    .elementor-14 .elementor-element.elementor-element-7b99569 {
        --margin-top: 0px;
        --margin-bottom: 90px;
        --margin-left: 0px;
        --margin-right: 0px
    }
    .elementor-14 .elementor-element.elementor-element-397fc0b {
        --margin-top: 0px;
        --margin-bottom: 90px;
        --margin-left: 0px;
        --margin-right: 0px
    }
    .elementor-14 .elementor-element.elementor-element-9457801 {
        --margin-top: 90px;
        --margin-bottom: 90px;
        --margin-left: 0px;
        --margin-right: 0px
    }
}

@media(max-width:767px) {
    .elementor-14 .elementor-element.elementor-element-7e36fe4 {
        --margin-top: 90px;
        --margin-bottom: 0px;
        --margin-left: 0px;
        --margin-right: 0px
    }
}