:root {
    --font-fahkwang: 'Fahkwang', sans-serif;
    --font-unbounded: 'Unbounded', sans-serif;
    --primary-color: #EC6219;
    --primary-color2: #F4CB0A;
    --primary-color3: #1A1A1A;
    --primary-color4: #78EB54;
    --title-color: #1A1A1A;
    --title-color-opc: 26, 26, 26;
    --dark-title-color: #1A1A1A;
    --white-color: #fff;
    ---dark-white-color: #fff;
    --deep-white-color: #DFDFDF;
    --paragraph-color: #545454;
    --paragraph-color-opc: 84, 84, 84;
    --paragraph-color2: #363636;
    --paragraph-color3: #1A1A1A;
    --paragraph-color-dark: #C4C4C4;
    --border-color1: #dfdfdf;
    --border-color2: #eee;
    --body-bg1: #F0F0F0;
    --bg-color1: #F8F8F8;
    --section-bg1: #EAEAEA
}

.woocommerce {
    margin: 0;
    padding: 0;
    font-family: var(--font-unbounded)
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

input[type=number] {
    -moz-appearance: textfield
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) .woocommerce-breadcrumb {
    font-size: .92em;
    color: #fff
}

.woocommerce span.onsale {
    position: absolute;
    left: 15px;
    top: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    border-radius: 0;
    min-height: auto;
    width: auto;
    padding: 5px 12px;
    color: var(--white-color);
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    font-family: var(--font-unbounded);
    letter-spacing: .3px;
    background-color: var(--primary-color);
    line-height: 1;
    z-index: 1
}

.woocommerce div.product div.images {
    margin-bottom: 110px
}

.woocommerce div.product div.images .flex-control-thumbs {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between
}

.woocommerce div.product div.images .flex-control-thumbs li {
    float: none;
    width: calc(25% - 20px)
}

.woocommerce div.product form.cart div.quantity {
    float: left;
    margin: 0 24px 0 0
}

.woocommerce div.product form.cart div.quantity button.minus,
.woocommerce div.product form.cart div.quantity button.plus {
    height: 40px;
    width: 40px;
    border: 1px solid var(--border-color1);
    background-color: #faf8fb;
    cursor: pointer;
    transition: .35s
}

.woocommerce .quantity .qty {
    height: 40px;
    width: 78px;
    border: 1px solid var(--border-color1);
    background-color: transparent;
    color: var(--title-color);
    text-align: center;
    font-family: var(--font-unbounded);
    font-size: 14px;
    font-weight: 600;
    margin-top: -2px
}

.woocommerce div.product form.cart .button {
    position: relative;
    color: var(--white-color);
    background-color: var(--paragraph-color3);
    font-family: var(--font-unbounded);
    font-size: 14px;
    font-weight: 500;
    border: 1px solid var(--title-color);
    line-height: 1;
    display: inline-flex;
    align-items: baseline;
    padding: 12px 24px;
    gap: 8px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    transition: all .6s
}

.woocommerce div.product form.cart .button:hover {
    color: var(--dark-title-color)
}

.woocommerce div.product form.cart .button:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    border-radius: 36px;
    background-color: var(--white-color);
    transition: all .6s;
    transform: translate(-50%, -50%);
    z-index: -1
}

.woocommerce div.product form.cart .button:hover::before {
    width: 225%;
    height: 1000.5px
}

.woocommerce .product-details-page .yith-wcwl-add-to-wishlist a {
    font-size: 15px;
    color: var(--dark-title-color);
    margin-bottom: 20px;
    display: block
}

.woocommerce .product-details-page div.product form.cart table.variations tbody th {
    vertical-align: middle
}

.woocommerce .product-details-page div.product form.cart table.variations tbody tr td {
    padding: 10px 0
}

.woocommerce .product-details-page div.product form.cart .woocommerce-variation.single_variation {
    margin-bottom: 20px
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product span.price,
.woocommerce:where(body:not(.woocommerce-uses-block-theme)) div.product p.price {
    color: unset;
    font-size: unset
}

body:not(.woocommerce-block-theme-has-button-styles) .wc-block-components-button:not(.is-link):focus,
.woocommerce-checkout .wc-block-components-radio-control .wc-block-components-radio-control__input:focus,
.woocommerce-checkout .wc-block-components-checkbox .wc-block-components-checkbox__input[type=checkbox]:focus {
    outline: none;
    outline-offset: 0;
    box-shadow: none
}

.woocommerce-checkout .wc-block-components-product-metadata {
    display: none
}

.woocommerce-checkout .wc-block-components-totals-coupon a {
    color: var(--bs-black)
}

.woocommerce-checkout .wc-block-components-checkout-place-order-button {
    margin-top: 30px;
    color: var(--white-color);
    font-family: var(--font-unbounded);
    font-size: 15px;
    font-weight: 500;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 19px 36px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all .6s;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    gap: 8px;
    width: 100%;
    justify-content: center
}

.woocommerce-checkout .wc-block-components-checkout-place-order-button:hover {
    background-color: var(--dark-title-color);
    border: 1px solid var(--dark-title-color)
}

form.woocommerce-EditAccountForm.edit-account button.woocommerce-Button.button {
    color: var(--white-color);
    font-family: var(--font-unbounded);
    font-size: 15px;
    font-weight: 500;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 19px 36px;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all .6s;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    gap: 8px
}

form.woocommerce-EditAccountForm.edit-account button.woocommerce-Button.button:hover {
    background-color: var(--dark-title-color);
    border: 1px solid var(--dark-title-color)
}

.woocommerce-thankyou-order-received {
    margin-bottom: 20px
}

ul.woocommerce-order-overview.woocommerce-thankyou-order-details.order_details {
    padding: 0
}

table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details tbody tr td a {
    font-weight: 400;
    color: var(--paragraph-color)
}

table.woocommerce-table.woocommerce-table--order-details.shop_table.order_details tbody tr td strong {
    font-weight: 400
}

.woocommerce .star-rating span::before,
.woocommerce .star-rating::before,
.woocommerce p.stars a::before {
    color: #daa520
}

.woocommerce div.product .woocommerce-product-rating a {
    font-size: 14px;
    color: var(--paragraph-color3)
}

body:not(.woocommerce-block-theme-has-button-styles) .wc-block-components-button:not(.is-link):focus {
    box-shadow: none !important;
    outline: none !important
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    float: left;
    width: 30%
}

.woocommerce-MyAccount-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.woocommerce-MyAccount-navigation ul li {
    margin-bottom: 25px
}

.woocommerce-MyAccount-navigation ul li:last-child {
    margin-bottom: 0
}

.woocommerce-MyAccount-navigation ul li a {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    padding: 15px 20px;
    background-color: rgb(221, 221, 221, .2);
    display: block;
    text-transform: capitalize;
    border: 1px solid #eee
}

.woocommerce-MyAccount-navigation ul li.is-active a {
    color: var(--primary-color);
    border-left: 5px solid var(--primary-color)
}

.woocommerce-account .woocommerce-MyAccount-content p a {
    color: var(--primary-color)
}

.woocommerce-account .woocommerce-MyAccount-content .wc-block-components-notice-banner>.wc-block-components-notice-banner__content .wc-forward {
    text-decoration-line: none
}

.woocommerce-account .woocommerce-MyAccount-content .woocommerce-Address {
    border: 1px solid #ececec;
    padding: 15px
}

.woocommerce-account .woocommerce-MyAccount-content .addresses .title .edit {
    float: right;
    color: var(--primary-color);
    font-weight: 600
}

.woocommerce-account .woocommerce-MyAccount-content .woocommerce-address-fields input,
.woocommerce-account .woocommerce-MyAccount-content form.woocommerce-EditAccountForm.edit-account input {
    width: 100% !important;
    border-radius: 0;
    background: #fff;
    color: var(--title-color);
    font-family: var(--font-fahkwang);
    font-size: 13px;
    font-weight: 400;
    padding: 10px 20px;
    height: 50px;
    border: 1px solid #eee;
    margin-bottom: 10px !important
}

.woocommerce-account .woocommerce-MyAccount-content .woocommerce-address-fields .select2-container .select2-selection--single {
    width: 100% !important;
    border-radius: 0;
    background: #fff;
    color: var(--title-color);
    font-family: var(--font-fahkwang);
    font-size: 13px;
    font-weight: 400;
    padding: 10px 20px;
    height: 50px;
    border: 1px solid #eee;
    margin-bottom: 10px !important
}

.woocommerce-account .woocommerce-MyAccount-content .woocommerce-address-fields .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px
}

.woocommerce form.login,
.woocommerce form.register {
    max-width: 600px;
    margin: 0 auto
}

.woocommerce form.login a,
.woocommerce form.register a {
    color: #000;
    font-weight: 600;
    display: inline-block
}

.woocommerce form.register .woocommerce-privacy-policy-text {
    margin-bottom: 20px
}

form.woocommerce-ResetPassword.lost_reset_password input,
.woocommerce form.login input,
.woocommerce form.register input {
    width: 100%;
    border-radius: 0;
    background: #fff;
    color: var(--title-color);
    font-family: var(--font-unbounded);
    font-size: 13px;
    font-weight: 400;
    padding: 10px 20px;
    height: 50px;
    border: 1px solid #eee
}

.woocommerce form.login input[type=checkbox] {
    height: auto;
    width: auto
}

.woocommerce form.login button[type=submit],
.woocommerce form.register button[type=submit] {
    min-width: 140px;
    position: relative;
    color: var(--white-color);
    background-color: var(--paragraph-color3);
    font-family: var(--font-unbounded);
    font-size: 14px;
    font-weight: 500;
    border: 1px solid var(--title-color);
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: baseline;
    padding: 12px 24px;
    gap: 8px;
    white-space: nowrap;
    overflow: hidden;
    z-index: 1;
    transition: all .6s
}

.woocommerce form.login .form-row {
    margin-top: 20px
}

.woocommerce-message {
    border-top-color: var(--primary-color)
}

.woocommerce-message::before {
    content: "\e015";
    color: var(--primary-color)
}

.woocommerce-message a {
    min-width: 140px !important;
    color: var(--white-color) !important;
    background-color: var(--paragraph-color3) !important;
    font-family: var(--font-unbounded) !important;
    font-size: 14px !important;
    font-weight: 500 !important;
    border: 1px solid var(--title-color) !important;
    line-height: 1 !important;
    text-align: center;
    white-space: nowrap;
    transition: all .6s
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) .woocommerce-breadcrumb a {
    color: var(--primary-color)
}

.woocommerce div.product div.summary .payment-method {
    padding: 15px;
    border: 1px solid rgba(34, 34, 34, .1);
    width: 100%;
    margin-top: 20px
}

.woocommerce div.product div.summary .payment-method h6 {
    color: var(--title-color);
    font-family: var(--font-fahkwang);
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .48px;
    text-transform: capitalize;
    margin-bottom: 15px
}

.woocommerce div.product div.summary .payment-method .payment-card-list {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0
}

.woocommerce div.product div.summary .payment-method .payment-card-list img {
    max-width: 50px
}

.woocommerce div.product div.summary .product-shipping-delivers {
    margin: 0;
    padding: 0;
    margin-top: 20px
}

.woocommerce div.product div.summary .product-shipping-delivers li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px
}

.woocommerce div.product div.summary .product-shipping-delivers li:last-child {
    margin-bottom: 0
}

.woocommerce div.product div.summary .product-shipping-delivers li svg {
    fill: var(--primary-color1)
}

.woocommerce div.product div.summary .product-shipping-delivers li p {
    color: var(--text-color);
    font-family: var(--font-unbounded);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .32px;
    text-transform: capitalize;
    margin-bottom: 0
}

.woocommerce div.product div.summary .product-shipping-delivers li a {
    color: var(--text-color);
    background: linear-gradient(to bottom, #100C08 0%, #100C08 98%);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: left 100%;
    transition: background-size .75s
}

.woocommerce div.product div.summary .product-shipping-delivers li a:hover {
    background-size: 0 2px;
    background-position: 0% 100%;
    color: var(--primary-color1)
}

.wc-block-components-form .wc-block-components-text-input input[type=email],
.wc-block-components-form .wc-block-components-text-input input[type=number],
.wc-block-components-form .wc-block-components-text-input input[type=tel],
.wc-block-components-form .wc-block-components-text-input input[type=text],
.wc-block-components-form .wc-block-components-text-input input[type=url],
.wc-block-components-text-input input[type=email],
.wc-block-components-text-input input[type=number],
.wc-block-components-text-input input[type=tel],
.wc-block-components-text-input input[type=text],
.wc-block-components-text-input input[type=url] {
    border: 1px solid #eee !important;
    border-radius: 0 !important;
    font-size: 14px !important
}

.wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input,
.wc-block-components-form .wc-block-components-combobox .wc-block-components-combobox-control input.components-combobox-control__input {
    border: 1px solid #eee !important;
    border-radius: 0 !important;
    font-size: 14px !important
}

.wc-block-components-textarea {
    border: 1px solid #eee !important;
    border-radius: 0;
    font-size: 14px !important
}

.wc-block-components-form .wc-block-components-text-input label,
.wc-block-components-text-input label {
    font-size: 14px !important
}

.woocommerce ul.product_list_widget {
    list-style: none outside;
    padding: 0;
    margin: 0
}

.woocommerce ul.product_list_widget li {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-top: 15px
}

.woocommerce ul.product_list_widget li>span,
.woocommerce ul.product_list_widget li ins,
.woocommerce ul.product_list_widget li del {
    font-size: 80%
}

.woocommerce ul.product_list_widget li ins {
    text-decoration: none
}

.woocommerce ul.product_list_widget li del {
    opacity: .5;
    margin-left: 5px
}

.woocommerce ul.product_list_widget li img {
    float: left;
    margin-right: 20px;
    width: 60px;
    height: auto;
    box-shadow: none;
    margin-left: 0
}

@media(max-width:1199px) {
    .is-medium table.wc-block-cart-items .wc-block-cart-items__row,
    .is-mobile table.wc-block-cart-items .wc-block-cart-items__row,
    .is-small table.wc-block-cart-items .wc-block-cart-items__row {
        -ms-grid-columns: 80px 132px;
        display: -ms-grid;
        display: grid;
        grid-template-columns: 150px 132px !important;
        padding: 16px 0
    }
}

@media(max-width:767px) {
    .is-medium table.wc-block-cart-items .wc-block-cart-items__row,
    .is-mobile table.wc-block-cart-items .wc-block-cart-items__row,
    .is-small table.wc-block-cart-items .wc-block-cart-items__row {
        display: block !important
    }
}